body {
	font-family: 'Tahoma';
	font-weight: bold;
}

#container {
	display:flex;
	justify-content: center;
}

#playerScore, #computerScore {
	width: 18%;
	padding: 3%;
	font-style: bold;
}

#gameCanvas {
	border: 3px solid blue;
	width: 64%;
    margin: 0 auto;
}

p {
	text-align: center;
	padding: 5px;
	margin: 0;
}
